/*
.Select.is-open {
    z-index: 1000 !important;
  }
  
  .Select.is-open {
    z-index: 1000 !important;
  }
  
  .Select-menu {
    position: fixed !important;
    width: 440px !important;
    margin: 1px;
  }
  
  .input {
    width: 100%;
    padding: 1px 10px;
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
  }
  
  
  .form-control {
    width: 100%;
  }
  */