@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
}

:root {
	--bg-color: #1f1f1f;
	--second-bg-color: #5e5e5e;
	--text-color: #ededed;
	--main-color: #ea552b;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	background:  var(--bg-color);
	color: var(--text-color);
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 9%;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;

}

.header.sticky {
	background: var(--bg-color);

}

.logo {
	font-size:  2.5rem;
	color: var(--text-color);
	font-weight: 600;
}

.navbar a {
	font-size: 1.7rem;
	color: var(--text-color);
	font-weight: 500;
	margin-left: 3.5rem;
	transition: .3s;

}

.navbar a:hover,
.navbar a.active{
	color: var(--main-color);
}

#menu-icon {
	font-size 3.6rem;
	color: var(--text-color);
	cursor: pointer;
	display: none;
}

section {
	min-height: 100vh;
	padding: 10rem 9% 2rem;
}

.home {
	display: flex;
	align-items: center;
	padding: 0 9%;
	background: url('../images/bg2.jpg') no-repeat center/cover;
}

.home-content {
	max-width:  60rem;
}

.home-content h1 {
	font-size: 5.6rem;
	font-weight: 700;
	line-height: 1.3;
}


.home-content h1 span {
	color: var(--text-color);
}

.home-content .text-animate {
	position: relative;
	width: 32.8rem;

}

.home-content .text-animate h3 {
	font-size: 3rem;
	font-weight: 700;
	color: transparent;
	-webkit-text-stroke: .7px var(--text-color);
}

.home-content p {
	font-size: 1.6rem;
	margin: 2rem 0 4rem;

}

.btn-box {
	position: relative;
	display: flex;
	justify-content:  space-between;
	width: 34.5rem;
	height: 5rem;
}
.btn-box .btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 100%;
	background: var(--main-color);
	border: .2rem solid var(--main-color);
	border-radius: .8rem;
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: .1rem;
	color: var(--text-color);
	z-index: 1;
	overflow: hidden;
}




.btn-box .btn::before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--bg-color);
	z-index: -1
	
}

.btn-box .btn:hover::before {
	width: 100%;
	transition: .5s;
}

.home-sci {
	position: absolute;
	bottom: 4rem;
	width: 170px;
	display: flex;
	justify-content: space-between;
}

.home-sci a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: .2rem solid var(--main-color);
	border-radius: 50%;
	font-size: 20px;
	color: var(--main-color);
	z-index: 1;
	overflow: hidden;
}

.about {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	background: var(--bg-color);
	padding-bottom: 6rem;
}

.heading {
	font-size: 5rem;
	margin-bottom: 3rem;
	text-align: center;
}

.about-img {
	position: relative;
	width: 25rem;
	height: 25rem;
	border-radius: 50%;
	justify-content: center;
	align-items: center;

}

.about-img img {
	width: 90%;
	border-radius: 50%;
	border: .5rem solid var(--main-color);
}

span {
	color: var(--main-color);
}



.about-content {
	
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 2rem;
    width: 70%;
    margin: 2rem auto 3rem;
}

.btn-box.btns {
	display: inline-block;
	width: 15rem;

}

.btn-box.btns a::before {
	background: var(--bg-color);

}


.education {
	display:  flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: auto;
	padding-bottom:  5rem;


}

.education .education-row {
	display: flex;
	flex-wrap: wrap;
	gap: 5rem;
}

.education-row .education-column {
	flex: 1 1 40rem;
}

.education-column .title {
	font-size: 2.5rem;
	margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
	border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
	position: relative;
	padding-left: 2rem;
}

.education-box .education-content::before {
	content: '';
	position: absolute;
	top: 0;
	left: -1.1rem;
	width: 2rem;
	height: 2rem;
	background: var(--main-color) ;
	border-radius: 50%;
}

.education-content .content {
	position: relative;
	padding: 1.5rem;
	border: .2rem solid var(--main-color);
	border-radius: .6rem;
	margin-bottom: 2rem;
}

.education-content .content::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--second-bg-color);
	z-index: -1;
	transition: 5s;
}

.education-content .content:hover::before{
	width: 100%;

}

.education-content .content .year {
	font-size: 1.5rem;
	color: var(--text-color);
	padding-bottom: .5rem;
}

.education-content .content .year i {
	padding-right: .5rem;
}

.education-content .content h3{
	font-size: 2rem;
}

.education-content .content p {
	font-size: 1.5rem;
	padding-top: .5rem;
}

.skills {
	min-height: auto;
	padding-bottom: 7rem;
	background: var(--secondary-color);
}

.skills .skills-row {
	display: flex;
	flex-wrap: wrap;
	gap: 5rem;
}

.skills-row .skills-column {
	flex: 1 1 40rem;

}

.skills-column .title {
	font-size: 2.5rem;
	margin:  0 0 1.5rem;
}

.skills-box .skills-content {
	position: relative;
	border: .2rem solid var(--main-color);
	border-radius: .6rem;
	padding: .5rem 1.5rem;
	z-index: 1;
	overflow: hidden;
}

.skills-box .skills-content::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--second-bg-color);
	z-index: -1;
	transition: .5s;

}

.skills-box .skills-content:hover::before{
	width: 100%;

}

.skills-content .progress {
	padding: 1rem 0;

}

.skills-content .progress h3 {
	font-size: 1.7rem;
	display: flex;
	justify-content: space-between;
}

.skills-content .progress h3 span {
	color: var(--text-color);
}

.skills-content .progress .bar {
	height: 2.5rem;
	border-radius: .6rem;
	border: .2rem solid var(--main-color);
	padding: .5rem;
	margin: 1rem 0;
}

.skills-content .progress .bar span {
	display: block;
	height: 100%;
	border-radius: .3rem;
	background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
	width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
	width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
	width: 70%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
	width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
	width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
	width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
	width: 70%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
	width: 60%;
}

.contact {
	min-height: auto;
	padding-bottom: 7rem;
}
.contact form {
	max-width: 70rem;
	margin: 0 auto;
	text-align: center;
}

.contact form .input-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact form .input-box .input-field {
	position: relative;
	width: 49%;
	margin: .8rem 0;

}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
	width: 100%;
	height: 100%;
	padding: 1.5rem;
	font-size: 1.6rem;
	color: var(--text-color);
	background: transparent;
	border-radius: .6rem;
	border: .2rem solid var(--main-color);
}


.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
	color: var(--text-color);
}

.contact form .focus {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: var(--second-bg-color);
	border-radius: .6rem;
	z-index: -1;
	transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus, 
.contact form .textarea-field valid:focus~.focus {
	width: 100%;

}

.contact form .btn-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem; /* Add some spacing between inputs and button */
}

.contact form .textarea-field {
	position: relative;
	margin: .8rem 0 2.7rem;
	display: flex;
}

.contact form .textarea-field textarea{
	resize: none;
}

.contact form .btn-box.btns .btn {
	cursor: potiner;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
	padding: 2rem 9%;
	background: var(--second-bg-color);
}

.footer-text p {
	font-size: 1.6rem;
}

.footer-iconTop a {
	position: relative;
	display: inline-flex;
	justify-content: safe center;
	align-items: center;
	padding: .8rem;
	background: var(--main-color);
	border: .2rem solid var(--main-color);
	border-radius: .6rem;
	z-index: 1;
	overflow: hidden;
}

.footer-iconTop a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: var(--second-bg-color);
	z-index: -1;
	transition: .5s;
}

.footer-iconTop a:hover::before{
	width: 100%;
}

.footer-iconTop a i {
	font-size: 2.4rem;
	color: var(--bg-color);
}

.footer-iconTop a:hover i {
	color: var(--main-color);
}

/*Breakpoints*/

@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}

}

@media (max-width: 991px) {
	.header {
		padding: 2rem 4%;
	}

	section {
		padding: 10rem 4% 2rem;
	}

	.home {
		padding: 0rem 4%;
	}

	.footer {
		padding: 2rem 4%;
	}
}

@media (max-width: 768px) {
	.header {
		background: var(--bg-color);
	}

	#menu-icon {
		display: block;
	}

	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 4%;
		background: var(--bg-color);
		box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
		transition: .25s ease;
		transition-delay: .25s;
	}

.navbar.active {
	transition-delay: 0s;
	left:0;
}
	.navbar a {
		display: block;
		font-size: 2rem;
		margin: 3rem;
	}
}